<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no maximum-scale=1>">
        <link rel="stylesheet" href="{{url_for('static', filename='css/chat_styles.css')}}">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='images/favicon-16x16.png')}}" sizes="16x16" />
        <title>Chat with PDF</title>
    </head>
    <body>

        <div class="container">
            <div class="header">
                <a href="/">Back</a>
            </div>
            
            <script
                type="module"
                src="https://gradio.s3-us-west-2.amazonaws.com/4.31.0/gradio.js"
            ></script>
            
            <div class="main-content">
                <div class="iframe-container">
                    {% set file_name = file_path.split('/')[-1] %}
                    <h1>{{ file_name }}</h1>
                    <gradio-app src="https://mikamartin-pdf-chatbot.hf.space" :file-name="file_name"></gradio-app> 
                </div>
            </div>          
        </div>
        <script src="{{ url_for('static', filename='/scripts/script.js') }}"></script>
    </body>
</html>
