<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>File Upload and Search</title>
</head>

<body>
    <h1>File Upload and Search</h1>

    <!-- Suchformular -->
    <form method="POST">
        {{ search_form.hidden_tag() }}
        {{ search_form.query.label }}: {{ search_form.query() }}
        {{ search_form.search_submit() }}
    </form>

    <!-- Anzeige der Suchergebnisse -->
    {% if files %}
        <h2>Search Results:</h2>
        <ul>
            {% for file in files %}
                <li>
                    <a href="{{ url_for('chat_with_pdf', file_name=file) }}">{{ file }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}

    <!-- Galerie mit den neuesten Dateien -->
    <h2>Neueste Dateien:</h2>
    <div class="gallery">
        {% for img, pdf in images_to_pdfs.items() %}
            <a href="{{ url_for('chat_with_pdf', file_name=pdf) }}">
                <img src="{{ url_for('static', filename='covers/' + img) }}" alt="Cover image of {{ pdf }}">
            </a>
        {% endfor %}
    </div>

    <!-- Formular zum Hochladen von Dateien -->
    <form method="POST" enctype="multipart/form-data">
        {{ upload_form.hidden_tag() }}
        {{ upload_form.file.label }}: <input type="file" name="{{ upload_form.file.name }}" accept="application/pdf">
        {{ upload_form.submit() }}
    </form>

</body>

</html>
