<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload and Search</title>
</head>
<body>
    <h1>File Upload and Search</h1>

    <div class="gallery">
        {% for img, pdf in images_to_pdfs.items() %}
        <!-- Verwende 'show_pdf' als Route und entferne '.pdf' für den korrekten Funktionsaufruf -->
        <a href="{{ url_for('show_pdf', file_name=pdf.replace('.pdf', '')) }}" class="image-button">
            <!-- Stelle sicher, dass der Pfad und die Dateinamen korrekt sind -->
            <img src="{{ url_for('static', filename='css/covers/' + img) }}" alt="Cover image of {{ pdf }}" width="300" height="400">
        </a>

        {% endfor %}
    </div>

    <!-- Formular zum Hochladen von Dateien -->
    <form method="POST" enctype="multipart/form-data">
        {{ upload_form.hidden_tag() }}
        {{ upload_form.file.label }}: {{ upload_form.file() }}
        {{ upload_form.submit() }}
    </form>

    <!-- Suchformular -->
    <form method="POST">
        {{ search_form.hidden_tag() }}
        {{ search_form.query.label }}: {{ search_form.query() }}
        {{ search_form.search_submit() }}
    </form>

    <!-- Anzeige der Suchergebnisse -->
    {% if files %}
        <h2>Search Results:</h2>
        <ul>
            {% for file in files %}
                <li>
                    <!-- Korrigiere das Argument 'filename' zu 'file_name' und entferne die Dateierweiterung -->
                    <a href="{{ url_for('show_pdf', file_name=file.replace('.pdf', '')) }}">{{ file }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</body>
</html>
