html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* Stellt sicher, dass der Körper die volle Breite einnimmt */
    height: 100vh; /* Setzt die Höhe auf die Höhe des Viewports */
    display: flex; /* Verwendet Flexbox statt Grid für eine bessere Kontrolle über die Ausrichtung */
    flex-direction: column; /* Richtet die Kinder-Elemente vertikal aus */
    align-items: center; /* Zentriert Kinder horizontal */
    background-color: #3c3c3c; /* Dunkelgrauer Hintergrund */
    color: rgb(187, 187, 187); /* Hellgraue Textfarbe */
    font-family: monospace; /* Monospace Schriftart */
    zoom: 100%; /* Deaktiviert das Zoomen auf der Webseite */
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Nutzt die volle Breite */
    height: 100%;
    align-items: stretch; /* Streckt die Kinder, um die volle Breite zu nutzen */
}

.header {
    text-align: center; /* Zentriert den Text der Überschrift */
}

.main-content {
    display: flex;
    flex-grow: 1; /* Lässt main-content den verfügbaren Platz ausfüllen */
    width: 100%; /* Stellt sicher, dass die Breite voll ausgenutzt wird */
    overflow: hidden; /* Verhindert ungewolltes Scrollen */
    align-items: center; /* Zentriert die Elemente vertikal */
}

.iframe-container {
    width: 100%; /* Vollständige Breite des Browserfensters */
    overflow: hidden; /* Verhindert, dass der Inhalt des Containers überläuft */
}

a {
    color: rgb(187, 187, 187);
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: lightgray;
    text-decoration: underline;
    background-color: transparent; /* Stellt sicher, dass keine Hintergrundfarbe geändert wird */
    outline: none; /* Entfernt Fokus-Umrisse */
}
