body {
    display: grid;
    font-family: monospace;
    place-items: center; /* Zentriert Inhalte sowohl horizontal als auch vertikal */
    min-height: 100vh; /* Minimale Höhe auf 100% des Viewport */
    margin: 0; /* Entfernt den Standardrand */
    background-color: #3c3c3c;
    color: rgb(187, 187, 187);
  }

h1, h2, h3, h4, h5, h6 {
    color: rgb(187, 187, 187);
}

a {
    color: rgb(187, 187, 187);/* Setzt die Textfarbe auf Weiß */
    text-decoration: none; /* Entfernt die Unterstreichung */
}

a:hover {
    color: lightgray; /* Farbe beim Überfahren mit der Maus ändern */
    text-decoration: underline; /* Unterstreichung beim Hover hinzufügen */
}

.overlay-link {
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0); /* Transparent */
}

.gallery-container {
    overflow-x: auto; /* Ermöglicht horizontales Scrollen */
    white-space: nowrap; /* Verhindert Umbrüche der Elemente */
    padding: 10px; /* Optional: Fügt etwas Abstand im Inneren des Containers hinzu */
    width: 80%; /* Breite des Containers auf volle Breite des Elternelements */
}

.image-button {
    display: inline-block; /* Anzeige in einer Reihe */
    margin-right: 20px; /* Abstand zwischen den Bildern */
}

.image-button img {
    object-fit: cover; /* Stellt sicher, dass das Bild die Dimensionen füllt, ohne verzerrt zu werden */
}

.image-container {
    position: relative; /* Setzt den Container als Referenz für die Positionierung der Kinder */
    display: inline-block; /* Beibehaltung der Inline-Anzeige für das Scrollen */
    margin-right: 20px; /* Abstand zwischen den Bildern */
}




.delete-button:hover {
    background-color: gray; /* Farbe beim Überfahren mit der Maus ändern */
}

.delete-button {
    position: absolute; /* Absolut innerhalb des image-container positioniert */
    right: 30px; /* Abstand vom rechten Rand des Containers */
    margin-top: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10; /* Stellt sicher, dass der Button über dem Bild liegt */
    transition: background-color 0.5s; /* Fügt eine sanfte Übergangsanimation hinzu */
}
body {
	font-family : sans-serif;
}

.button {
	background      : #005f95;
	border          : none;
	border-radius   : 3px;
	color           : white;
	display         : inline-block;
	font-size       : 19px;
	font-weight     : bolder;
	letter-spacing  : 0.02em;
	padding         : 10px 20px;
	text-align      : center;
	text-shadow     : 0px 1px 2px rgba(0, 0, 0, 0.75);
	text-decoration : none;
	text-transform  : uppercase;
	transition      : all 0.2s;
}

.btn:hover {
	background : #4499c9;
}

.btn:active {
	background : #49ADE5;
}

input[type="file"] {
	display : none;
}

#file-drag {
	border        : 2px dashed #555;
	border-radius : 7px;
	color         : #555;
	cursor        : pointer;
	display       : block;
	font-weight   : bold;
	margin        : 1em 0;
	padding       : 3em;
	text-align    : center;
	transition    : background 0.3s, color 0.3s;
}

#file-drag:hover {
	background : #ddd;
}

#file-drag:hover,
#file-drag.hover {
	border-color : #3070A5;
	border-style : solid;
	box-shadow   : inset 0 3px 4px #888;
	color        : #3070A5;
}

#file-progress {
	display : none;
	margin  : 1em auto;
	width   : 100%;
}

#file-upload-btn {
	margin : auto;
}

#file-upload-btn:hover {
	background : #4499c9;
}

#file-upload-form {
	margin : auto;
	width  : 40%;
}

progress {
	appearance    : none;
	background    : #eee;
	border        : none;
	border-radius : 3px;
	box-shadow    : 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	height        : 30px;
}

progress[value]::-webkit-progress-value {
	background :
		-webkit-linear-gradient(-45deg,
			transparent 33%,
			rgba(0, 0, 0, .2) 33%,
			rgba(0,0, 0, .2) 66%,
			transparent 66%),
		-webkit-linear-gradient(right,
			#005f95,
			#07294d);
	background :
		linear-gradient(-45deg,
			transparent 33%,
			rgba(0, 0, 0, .2) 33%,
			rgba(0,0, 0, .2) 66%,
			transparent 66%),
		linear-gradient(right,
			#005f95,
			#07294d);
	background-size : 60px 30px, 100% 100%, 100% 100%;
	border-radius   : 3px;
}

progress[value]::-moz-progress-bar {
	background :
	-moz-linear-gradient(-45deg,
		transparent 33%,
		rgba(0, 0, 0, .2) 33%,
		rgba(0,0, 0, .2) 66%,
		transparent 66%),
	-moz-linear-gradient(right,
		#b8c3ca,
		#07294d);
	background :
		linear-gradient(-45deg,
			transparent 33%,
			rgba(0, 0, 0, .2) 33%,
			rgba(0,0, 0, .2) 66%,
			transparent 66%),
		linear-gradient(right,
			#879ba6,
			#07294d);
	background-size : 60px 30px, 100% 100%, 100% 100%;
	border-radius   : 3px;
}

ul {
	list-style-type : none;
	margin          : 0;
	padding         : 0;
}